:root {
    --primary: #0C3348;
    --second: aliceblue;
}

.body{
    background-image: url("imgs/Background02.jpg");
    background-repeat: no-repeat;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    
}
.colum{
    flex: 0 0 auto;
}
/* HEADER */
.header{
    margin: 2% 5%;
    padding: 1% 1%;
    background-color: var(--primary);
    border-radius: 25px;
    height: auto;
}
.navbar{
    justify-content: space-between
}
.nav{
    margin-right: 5%;
}
.nav-item{
    font-size: 110%;
    border-right: 1px solid white;
}
.nav-item :hover{
    color: aqua;
}
.nav-link{
    color: white;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}
.link1{
    border-left: 1px solid white;
}
.nav-icons{
    width: 15%;
}
.nav-icons a{
    width: 20%;
    text-align: end;
}
.whats-icon{
    font-size: 230%;
    color: rgb(9, 245, 9);
    padding: 1% 2%;
}
.whats{
    width: 79%;
    padding-top: 3%;
    color: aliceblue;
    text-decoration: none;
}
.insta-icon{
    font-size: 230%;
    background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: aliceblue;
    border-radius: 5px;
    padding: 1% 2%;
}
/* PRINCIPAL */
.principal{
    width: 80%;
    margin: 2% 0% 10% 10%;
    text-align: center;
    background-color: var(--second);
    border-radius: 15px;
}
.principal-imgs{
    margin: 1.5% 0.1%;
    border-radius: 50px;
    padding: 1%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
/* APRESENTATION */ 
.apresentation-section{
    text-align: center;
}
.apresentation-text{
    font-size: 120%;
    white-space: pre-line;
}
.apresentation-section h2{
    font-size: 300%;
    color: var(--primary);
    margin-bottom: 5%;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}
/* SUITE */
.suite{
    text-align: center;
    margin: 1% 15% 1% 15%;
    padding: 1%;
    background-color:rgba(128, 128, 128, 0.24);
    border-radius: 15px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.568);
}
.suite img{
    width: 40%;
    border-radius: 15px 0px 0px 15px;
}
.suite div{
    text-align: start;
    padding-left: 3%;
    width: 60%;
    font-size: 100%;
}
.suite span{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 15px 0px 0px 15px;
}
.suite .spanr{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    border-radius: 0px 0px 0px 0px;
}
.btReserve{
    border: 1px solid var(--primary);
    border-radius: 55px;
    padding: 0.5% 1%;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 120%;
}
.apresentation-section a :hover{
    color:deepskyblue;
    border: 1px solid deepskyblue;
}
/* iCONS */
.icons-section{
    background-color: var(--primary);
    padding: 2% 4%;
    margin: 2% 0%;
    color: var(--second);
    text-align: center;
}
.icons-section div{
    width: 25%;
}
.icon{
    font-size: 600%;
}
/* LOCATION */
.location-section{
    width: 90%;
    margin: 0% 0% 5% 5%;
    text-align: center;
}
.location-section h2{ 
    width: 100%;
    color: var(--primary);
    margin-bottom: 3%;
    font-size: 300%;
}
.location-section div{
    padding-top: 5%;
    width: 49%;
}
.address{
    font-size: 120%;
    margin-bottom: 8%;
}
.address b{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
    border: 1px solid var(--primary);
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* AVAILABLE */
.avaliation-section{
    background-color: black;
    color: var(--second);
    font-weight: 600;
    width: 100%;
}
.aval{
    width: 48%;
    text-align: end;
}
.note{
    font-size: 300%;
    font-weight: 800;
    padding: 0%;
    margin: 0%;
}
.note-text{
    width: 50%;
    padding: 1% 1%;
    font-size: 150%;
}
/* FOOTER */
.footer-section{
    background-color: var(--primary);
    padding: 5% 10%;
    color: var(--second);
}
.footer-section h2{
    margin-bottom: 5%;
    width: 100%;
}
.footer-contacts{
    padding-left: 4%;
    width: 48%;
}
.footer-contacts a{
    text-decoration: none;
    color: var(--second);
    font-size: 150%;
    margin-bottom: 1%;
    padding-left: 4%;
}
.footer-menu{
    width: 48%;
}
.footer-menu a{
    text-decoration: none;
    color: var(--second);
    font-size: 140%;
    padding-left: 4%;
}
/* RESPONSIVE */
@media screen and (max-width: 780px) {
    /* HEADER */
    .navbar{
        justify-content: center
    }
    .navbar img{
        width: 50%;
        margin-left: 8%;
    }
    .nav-item{
        font-size: 110%;
        border-right: none;
    }
    .link1{
        margin: 5% 0% 0% 16%;
        border-left: none;
    }
    .link2{
        margin: 5% 0% 0% 0%;
    }
    .link3{
        margin: 0% 0% 0% 5%;
    }
    .nav-icons{
        visibility: hidden;
    }
    /* PRINCIPAL */
    .principal{
        width: 90%;
        margin: 10% 0% 10% 5%;
        border-radius: 15px;
    }
    .img1{
        width: 100%;
    }
    .img2{
        width: 39%;
    }
    .img3{
        width: 60%;
    }
    .img4{
        width: 59%;
    }
    .img5{
        width: 40%;
    }
    .img6{
        width: 49%;
    }
    .img7{
        width: 50%;

    }
    /* APRESENTATION */
    .apresentation-section{
        margin-top: 30%;
    }
    .suite{
        margin: 0% 5% 10% 5%;
    }
    .suite img{
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    .description-suite{
        padding-left: 2%;
    }
    /* iCONS */
    .icons-section{
        justify-content: center;
    }
    .icons-section div{
        width: 49%;
        padding: 8% 2%;
    }
    .icon{
        font-size: 600%;
    }
    /* LOCATION */
    .location-section div{
        padding-top: 5%;
        width: 100%;
    }
    .map-responsive{
        margin-top: 5%;
        padding-bottom:80%;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    /* AVALIATION */
    .aval{
        width: 55%;
    }
    .note-text{
        width: 44%;
        padding: 5% 1%;
    }
    /* FOOTER */
    .footer-section{
        background-color: var(--primary);
        padding: 5% 5%;
        color: var(--second);
    }
    .footer-contacts{
        padding-top: 10%;
        padding-left: 6%;
        width: 100%;
    }
    .footer-menu{
        padding-top: 10%;
        padding-left: 6%;
        width: 100%;
    }
    .footer-menu a{
        font-size: 120%;
    }
}